<div class="jumbotron text-center">
  <h1 class="display-3">
    {{title}}
  </h1>

  <p class="lead">Let us use help keep track of of the songs you know.</p>
  <a href="/songs/add" class="btn btn-dark btn-lg">Add Song</a>
</div>

