{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
  <h3>Add Song</h3>
  <form action="/songs" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="title">Artist</label>
      <input type="text" class="form-control" name="artist" required>
    </div>
    <div class="form-group">
      <label for="title">Key</label>
      <input type="text" class="form-control" name="songKey" required>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>